*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #FA9F42;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.game{
    height: 60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0  , 0,0.4);
    font-size: 8vmin;
    background-color: #76A799;
    color: black;
}

#resetBtn{
    padding :1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}
#newBtn{
    padding :1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}
#msg{
    font-size: 5vmin;
}
.msgContainer{
    margin-top: 1rem;
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}
.hide{
    display: none;
}